.creacionPokemon {
  background-image: url(../assets/imagenform.jpg);
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 30px;
}

.formulario {
  background-color: rgba(110, 94, 94, 0.377);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  max-width: 500px;

  margin: 30px;
  border-radius: 10px;
  border: 5px solid #060509;
  padding: 20px;
  padding-top: 35px;

  color: white;
  font-size: 20px;
}
.volver {
  margin: 20px;
  display: inline-block;
}
.tituloForm {
  color: white;
  font-size: 36px;
  padding-left: 30px;
  margin-top: 25px;
}
